
.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}



.cartes_style {
  background-color: aquamarine;
  height: 200px;
  width: 100px;
  margin: 8px;
  border-radius: 20px;
  border: 2px solid blueviolet;
  font-family: 'Six Caps', sans-serif;
  color: black;
  font-size: 90px;
  text-align: center;

}

.cartes_style:hover { 

  background-color: turquoise;

}


label {
  margin:0 0 0 2rem;
}

#nb-paires {
  max-width: 80px; 
  margin:0 0 0.5rem 2rem;
}

#nom {

  max-width: 300px; 
  margin:0 0 2rem 2rem;

}

#timer {
  font-family: 'Six Caps', sans-serif;
  color: rgb(180, 180, 180);
  font-size: 18vw;
  text-align: center;


}